@model IEnumerable<RegistroPolicial.Domain.Entities.PAO_Objetivo>

@{
    ViewBag.Title = "Delitos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elija una Opción del menú</h2>

<p>
    @Html.ActionLink("Mantenimientos DATOS GENERALES", "Objetivos")
</p>
<p>
    @Html.ActionLink("Mantenimientos METAS", "Metas")
</p>
